[user]
    name = Yigit Demirbas
    email = yigit.demirbas@gmail.com

[alias]
    st = status -sb
    ci = commit
    aa = add .
    br = branch -vv
    co = checkout
    di = diff
    lf = log -p
    lo = log --graph --decorate --pretty=oneline --abbrev-commit
	ls = ls-files
    ig = ls-files -o -i --exclude-standard
	un = reset HEAD --

[core]
    editor = nvim

[pull]
    ff = only

[init]
    defaultBranch = main

[includeIf "gitdir:~/Gitlab/"]
    path = ~/Gitlab/.gitconfig
